body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    color: #fff;
    font-size: 24px;
}

.menu {
    display: flex;
}

.menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.content {
    padding: 20px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer p {
    margin: 0;
}

.product-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-box {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    margin: 10px;
    text-align: center;
}

.product-box img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-name {
    font-weight: bold;
}

.product-price {
    color: #888;
}